<template>
<body class="overlay">
  <div class="flex-header">
    <img class="logo" src="../data/image/logo.png" />
    <h1>Find a job in the Netherlands</h1>
  </div>
  <h2 class="h2">
    Looking for a job ?
    We can help you on your way to work in the Netherlands,
  </h2>
  <SuccessStory />
  <div class="join-us-button">
    <router-link class="button" to="./JobCategory">JOIN US</router-link>
  </div>
</body>
</template>

<script>
// @ is an alias to /src
import SuccessStory from "@/components/SuccessStory.vue";

export default {
  name: "home",
  components: {
    SuccessStory
  }
};
</script>

<style scoped>
* {
  padding-top: 0%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url("../data/image/Background.png");
  background-size: cover;
  background-color: rgba(245, 129, 216, 0.753);
  background-attachment: fixed;
}
.flex-header {
  display: flex;
  width: 100%;
  margin: 1%;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  text-shadow: 1px 1px 1px #333;
  padding-left: 1rem;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}
h2 {
  padding: 2%;
}
h3,
p {
  font-family: "Open Sans", sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgb(196, 191, 191);
}
.logo {
  height: 3rem;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}
.join-us-button {
  padding-top: 2%;
}
.join-us-button:hover {
 
  transform: scale(1.1);
  transition: 300ms ease-in-out;
}
.button {
  outline: none;
  padding: 0.75rem 0.75rem;
  padding-left: 20%;
  padding-right: 20%;
  border-radius: 10px;
  color: #333;
  background: #d5d4f5;
  margin-bottom: 0rem;
  font-weight: bold;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
</style>
