<template>
<body id="body">
  <div class="header">
    <h1>Choose your experience field</h1>
  </div>
  <div class="container">
    <div class="item">
      <router-link @click="firstCat" class="card" to="../JobForm">
        <img class="category-image" src="../data/image/Construction.png" alt />
        <h3>{{ firstCategory }}</h3>
        <!-- <ul>
          <li v-for="constSkill in constSkills">{{ constSkill }}</li>
        </ul> -->
      </router-link>
    </div>
    <div class="item">
      <router-link class="card" to="../JobForm">
        <img class="category-image" src="../data/image/farm.png" alt />
        <h3>{{ secondCategory }}</h3>
        <!-- <label>{{ farmSkills[0] }}</label>
        <input type="checkbox" name="farmSkills[]" id="farmSkills[0]">
        <label>{{ farmSkills[1] }}</label>
        <input type="checkbox" name="farmSkills[]" id="farmSkills[1]">
        <label>{{ farmSkills[2] }}</label>
        <input type="checkbox" name="farmSkills[]" id="farmSkills[2]">
        <label>{{ farmSkills[3] }}</label>
        <input type="checkbox" name="farmSkills[]" id="farmSkills[3]"> -->
      </router-link>
    </div>
    <div class="item">
      <router-link class="card" to="../JobForm">
        <img class="category-image" src="../data/image/Hospitality.png" alt />
        <h3>{{ thirdCategory }}</h3>
      </router-link>
    </div>
    <div class="item">
      <router-link class="card" to="../JobForm">
        <img class="category-image" src="../data/image/Transport.png" alt />
        <h3>{{ fourthCategory }}</h3>
      </router-link>
    </div>
    <div class="item">
      <router-link class="card" to="../JobForm">
        <img class="category-image" src="../data/image/car-mechanic.png" alt />
        <h3>{{ fifthCategory }}</h3>
      </router-link>
    </div>
    <div class="item">
      <router-link class="card" to="../JobForm">
        <img class="category-image" src="../data/image/Beauty.png" alt />
        <h3>{{ sixthCategory }}</h3>
      </router-link>
    </div>
  </div>
</body>
</template>

<script>
export default {
  name: "JobCategory",
//   Vue.component('jobSubCategory',{
//       'template': '<div class="choice">
//       <label >
//         {{Plumber}}
//         <input type="checkbox" />
//         <span ></span>
//       </label>
//     </div>'
//   });
  data: function() {
    return {
      firstCat() {
        return 
      },
      firstCategory: "Construction",
      secondCategory: "Farm",
      thirdCategory: "Hospitality",
      fourthCategory: "Transport",
      fifthCategory: "Auto mechanic",
      sixthCategory: "Beauty",
      constSkills: [
        "Plumber",
        "Electrician",
        "Glazier",
        "Flooring"
      ],
      farmSkills: ["Farmer", "Cow", "Garden", "Flowers"],
      hospSkills: ["Bakery", "receptionist", "Catering cook", "bartender"],
      

    };
  }
};
</script>

<style scoped>
body {
  width: 100%;
  height: 100%;
  background-color: rgba(188, 192, 190, 0.733);
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  text-shadow: 1px 1px 1px rgb(179, 224, 16);
  padding-left: 1rem;
  display: block;
  flex-wrap: wrap;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  padding: 1rem;
  text-align: center;
  background-color: #d5d4f5;
  width: 90%;
  border-radius: 30px;
  transition: 0.3s;
  border-radius: 30px;
  color: black;
}
.category-image {
  width: 50%;
  height: auto;
  border-radius: 20px;
}
.item {
  width: 16rem;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transform: scale(1.2);
  transition: 300ms ease-in-out;
}
h3 {
  color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgb(44, 41, 41);
}
p {
  font-family: "Open Sans", sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgb(196, 191, 191);
}
</style>
