<template>
<body id="body">
  <div class="header">
    <div class="subject">
      <h1>Job form</h1>
    </div>
    <div class="container">
      <form class="card">
        <h2 class="persona-info">Personal information</h2>
        <label class="label-algin" for>First name:</label>
        <input class="input" type="text" name="firstName" id placeholder="Your First Name" />

        <label class="label-algin" for>Last name:</label>
        <input class="input" type="text" name="lastName" id placeholder="Your Last Name" />

        <label class="label-algin" for>Email:</label>
        <input class="input" type="email" name id placeholder="Email" />

        <label class="label-algin" for="dateOfBirth">Date of birth:</label>
        <input class="input" type="date" name="dateOfBirth" id />

        <label class="label-algin" for>Phone number</label>
        <input class="input" type name id placeholder="06.." />
      </form>
    </div>
  </div>
  <SubCategory />
   <div class="submit-button">
  <button class="button" type="submit">Submit</button>
   </div>
</body>
</template>

<script>
import SubCategory from "./SubCategory";

import { METHODS } from "http";
export default {
  name: "JobForm",
  components: {
    SubCategory
    
  }
};
</script>

<style scoped>
#body {
  background-color: rgba(188, 192, 190, 0.733);
  height: 100%;
  margin: 0px;
}
.subject {
  /* border: 1px solid #000; */
  width: 50%;
  display: inline-block;
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 0rem;
  border-radius: 1rem;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  text-shadow: 1px 1px 1px rgb(143, 211, 231);
}
.persona-info {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px rgb(143, 211, 231);
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 1rem;
  padding: 16px;
  text-align: left;
  background-color: #d5d4f5;
  width: 60%;
  border-radius: 1rem;
  transition: 0.3s;
  color: black;
}
.input {
  display: block;
  margin: 10px auto;
  padding: 1rem;
  text-align: left;
  background-color: #f8f1f1;
  width: 80%;
  border-radius: 1rem;
  transition: 0.3s;
  color: black;
}
.label-algin {
  display: block;
  font-weight: bold;
}
.submit-button:hover {
 
  transform: scale(1.1);
  transition: 300ms ease-in-out;
}
.button {
    width: 0.2rem;
  outline: none;
  padding: 0.75rem 0.5rem;
  padding-left: 20%;
  padding-right: 20%;
  border-radius: 0.5rem;
  color: #333;
  background: #ffffff;
  margin-bottom: 0rem;
  font-weight: bold;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
</style>
