<template>
<body>
  <h1 class="header2">Choose your experience field</h1>
  <div class="container">
    <div class="choice">
      <label class="experienceCheck">
        Plumber
        <input type="checkbox" />
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="choice">
      <label class="experienceCheck">
        Electrician
        <input type="checkbox" />
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="choice">
      <label class="experienceCheck">
        Glazier
        <input type="checkbox" />
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="choice">
      <label class="experienceCheck">
        Flooring
        <input type="checkbox" />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</body>
</template>

<script>
export default {
  name: "SubCategory"
};
</script>

<style scoped>
.header2 {
  font-size: 1.5rem;
  margin: 0.1rem;
  padding: 0.1rem;
  width: 50%;
  height: 2rem;
  display: inline-block;
  background-color: white;
  /* margin-top: 0rem;
  margin-bottom: 0rem; */
  border-radius: 0.5rem;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.experienceCheck {
  display: block;
  position: relative;
  padding-left: 35px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.choice {
  background-color: #d5d4f5;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>