<template>
  <div class="container">
    <div class="item">
      <div class="card">
        <h3 class="success-story-names">{{ firstStoryName }}</h3>
        <img class="success-story-image" src="../data/image/Adam.jpg" />
        <p>
          {{ firstStoryBeforeParagraph }}
          <span class="win">{{ workInWord}}</span>
          {{ firstStoryAfterParagraph }}
          <span class="win">{{ workInWord}}</span>
        </p>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <h3 class="success-story-names">{{ secondStoryName }}</h3>
        <img class="success-story-image" src="../data/image/Els.jpg" alt />
        <p>
          {{ secondStoryBeforeParagraph }}
          <span class="win">{{ workInWord}}</span>
          {{ secondStoryAfterParagraph }}
          <span class="win">{{ workInWord}}</span>
        </p>
      </div>
    </div>
    <div class="item">
      <div class="card">
        <h3 class="success-story-names">{{ thirdStoryName }}</h3>
        <img class="success-story-image" src="../data/image/Rob.jpg" alt />
        <p>
          {{ thirdStoryBeforeParagraph }}
          <span class="win">{{ workInWord}}</span>
          {{ thirdStoryAfterParagraph }}
          <span class="win">{{ workInWord}}</span>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      firstStoryName: "Adam",
      firstStoryBeforeParagraph: "Hi, I heard about ", //insert workInWord here
      firstStoryAfterParagraph:
        "10 months ago,I have worked in Liander company for 3 months,They hired me through", //insert workInWord here
      workInWord: "‘WorkIn’",
      secondStoryName: "Els",
      secondStoryBeforeParagraph: "Hi, I heard about ", //insert workInWord here
      secondStoryAfterParagraph:
        "6 months ago,I have worked in Paris salon for 2 months,They hired me through", //insert workInWord here
      thirdStoryName: "Rob",
      thirdStoryBeforeParagraph: "Hi, I heard about ", //insert workInWord here
      thirdStoryAfterParagraph:
        "6 months ago,I have worked in Paris salon for 2 months,They hired me through" //insert workInWord here
    };
  },
  name: "SuccessStory"
};
</script>

<style scoped>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h3 {
  font-family: "Open Sans", sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgb(44, 41, 41);
}
p {
  font-family: "Open Sans", sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgb(196, 191, 191);
}
.success-story-names {
  color: white;
}
.join-us-button {
  padding-top: 2%;
}
button {
  outline: none;
  padding: 0.75rem 0.75rem;
  border-radius: 5rem;
  color: #333;
  background: #fff;
  margin-bottom: 5rem;
  font-weight: bold;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  width: 16rem;
  display: flex;
  flex-wrap: wrap;
}
/* Style the counter cards */
.card {
  margin: 1rem;
  padding: 16px;
  text-align: center;
  background-color: #f5d4d4;
  width: 90%;
  border-radius: 30px;
  transition: 0.3s;
  border-radius: 30px;
  color: black;
}
.success-story-image {
  width: 50%;
  height: auto;
  border-radius: 20px;
}
.win {
  color: #2196f3;
}
</style>
