<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <router-view />
  </div>
</template>

<style scoped>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  position: inherit;
  overflow: hidden;
}
#app .overlay {
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
  padding-bottom: 4rem;
  color: #fff;
}
</style>
